@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link-hover {
        @apply bg-gradient-to-tr from-[#5865F2] to-[#5865F2]
        bg-no-repeat [background-position:0_88%]
        [background-size:100%_0.2em]
        motion-safe:transition-all motion-safe:duration-200
        hover:[background-size:100%_100%]
        focus:[background-size:100%_100%] hover:text-gray-100;
    }
    .navlink-hover {
        @apply hover:bg-[#5865F2] duration-100 transition-colors rounded-md;
    }

    .funtext {
        @apply mx-1 my-1 px-1 py-1 transition-all duration-100;
    }

    .funtext-hoverup {
        @apply translate-y-1 hover:-translate-y-1;
    }

    .funtext-hoverdown {
        @apply -translate-y-2 hover:translate-y-2;
    }
}
